@font-face {
    font-family: 'Amiri-Bold';
    src: url('../font/Amiri-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ae_AlArabiya';
    src: url('../font/ae_AlArabiya.ttf') format('truetype');
}
@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('../font/DroidKufi-Regular.ttf') format('truetype');
}
body {
    margin: 0px auto;
    padding: 0px;
    font-family: 'DroidKufi-Regular','Amiri-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 35px;
    background-color: rgb(199, 196, 196);
    font-size: large;
}
form {
    direction: rtl;
    width: 1000px;
    margin: 0px auto;
    color: #6e2968;
}

article {
    background: #f1f1f1; /* For browsers that do not support gradients */
    /*background: linear-gradient(rgb(0, 255, 255), yellow);*/ /* Standard syntax (must be last) */
    min-height:700px;
}

section {
    min-height: 40px;
}

header {
    min-height: 70px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    background-color: #6e2968;
    color: white;
    /*border-radius:5px;*/
    font-family: 'DroidKufi-Regular';
    font-weight: normal !important;
}

header h1{
    font-weight:400;
}
footer {
    min-height: 70px;
    margin-top: 5px;
    padding: 5px;
    background: #f1f1f1;
    color: white;
    border-top: 3px solid #6e2968;
}

table,tbody,tr{
    display:block;
}
td:first-child {
    width:240px;
    text-align:center;
}

td > input > TextBox {
    height: 50px;
}

.button {
    width: 150px;
    height: 40px;
    font-family: 'DroidKufi-Regular','Amiri-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: #6e2968;
    color:white;
    border:1px solid white;
}
    .button:hover{
        cursor:pointer;
        border:1px outset gray;
    }
    .textbox {
        height: 25px;
        color: black;
        text-align: center;
        font-family: 'Amiri-Bold',Arial, sans-serif;
        font-size: medium;
        font-weight: 400;
    }

.labeleror {
    font-family: 'DroidKufi-Regular','Amiri-Bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: large;
    color: darkred;
}